# the default is Ruby, which is slow
language: c

matrix:
  include:
    - env: CABALVER=3.2  GHCVER=8.4.4
      addons: {apt: {packages: [cabal-install-3.2,  ghc-8.4.4], sources: [hvr-ghc]}}
    - env: CABALVER=3.2  GHCVER=8.6.5
      addons: {apt: {packages: [cabal-install-3.2,  ghc-8.6.5], sources: [hvr-ghc]}}
    - env: CABALVER=3.2  GHCVER=8.8.2
      addons: {apt: {packages: [cabal-install-3.2,  ghc-8.8.2], sources: [hvr-ghc]}}
    - env: CABALVER=3.2  GHCVER=8.8.2 CONFIG_OPTS=--enable-executable-dynamic
      addons: {apt: {packages: [cabal-install-3.2,  ghc-8.8.2], sources: [hvr-ghc]}}

cache:
  directories:
    - $HOME/.cabal/
    - $HOME/.ghc/
    - dist-newstyle/

before_install:
  - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH

install:
  - travis_retry cabal update
  - cabal v2-build --only-dependencies --enable-tests

script:
  - cabal v2-test
  - cabal v2-exec -- runghc examples/example.hs | diff examples/expected.txt -
